* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 15vh;
    background-color: rgb(26, 160, 131);
}

#container {
    width: 80vw;
    height: 90vh;
    position: fixed;
    z-index: 2;
    top: 5vh;
    left: 10vw;
    display: flex;
}

.img_container {
    width: 40px;
}

img {
    width: 100%;
}

/* side */
.side {
    width: 30%;
    height: 100%;
}
    /* account */
.account {
    background-color: #ccd;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #888;
}

.account > div {
    display: flex;
    align-items: center;
}

.account .img_container {
    margin: 5px;
    cursor: pointer;
}

.account i {
    margin-right: 10px;
    color: #888;
    cursor: pointer;
}

    /* notifications */
.notifications {
    height: 13%;
    background-color: rgb(72, 206, 206);
    display: flex;
    align-items: center;
}

.notifications div:first-child {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.notifications i {
    color: rgb(72, 206, 206);
}

.notifications a {
    color: #888;
}

    /* search */
.search {
    height: 5%;
    background-color: #fff;
    padding: 5px;
}

.search i {
    margin: 0 5px;
}

.search input {
    width: 90%;
}

    /* list */
.list {
    height: 72%;
    background-color: #fff;
    max-height: fit-content;
    overflow-y: scroll;
}

.list .img_container {
    margin: 0 10px;
}

.contact {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.contact span {
    display: block;
    margin-bottom: -5px;
}

.contact small {
    font-size: x-small;
    color: #ccd;
    margin-right: 5px;
}

.contact div:first-child {
    display: flex;
}

/* chat container */
.chat_container {
    width: 70%;
    height: 100%;
}

    /* active contact */
.active_contact {
    height: 10%;
    background-color: #ccd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.active_contact .img_container {
    cursor: pointer;
}

.info small {
    display: block;
    font-size: x-small;
    color: #888;
}

.active_contact i {
    margin-right: 10px;
    color: #888;
    cursor: pointer;
}

    /* chat */
.chat {
    background-image: url('../img/default_background.jpg');
    filter: blur(0.8);
    height: 82%;
}

.view_chat {
    width: 80%;
    margin:auto;
    padding-top: 50px;
    max-height: 100%;
    display: flex;
    flex-direction: column;

}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.sent {
    background-color: lightgreen;
    align-self: flex-end;
}

.received {
    background-color: #fff;
    align-self: flex-start;
}

.message span {
    font-size: small;
}

.message small{
    font-size: 8px;
    color: #888;
    align-self: flex-end;
}

    /* to write */
.to_write {
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.to_write div {
    padding: 10px 20px;
}

.to_write i {
    color: #888;
    cursor: pointer;
}

.to_write input {
    padding: 5px 0;
}