* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    font-family: 'Lato', sans-serif;
}

.header {
    height: 15vh;
    background-color: rgb(26, 160, 131);
}

#container {
    width: 80vw;
    height: 90vh;
    position: fixed;
    z-index: 2;
    top: 5vh;
    left: 10vw;
    display: flex;
}

.img_container {
    width: 40px;
}

img {
    width: 100%;
}

/* side */
.side {
    width: 30%;
    height: 100%;
}
    /* account */
.account {
    background-color: #ccd;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #888;
}

.account > div {
    display: flex;
    align-items: center;
}

.account .img_container {
    margin: 5px;
    cursor: pointer;
}

.account i {
    margin-right: 10px;
    color: #888;
    cursor: pointer;
}

    /* notifications */
.notifications {
    background-color: rgb(72, 206, 206);
    display: flex;
    align-items: center;
}

.notifications div:first-child {
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.notifications i {
    color: rgb(72, 206, 206);
}

.notifications a {
    color: #888;
}

    /* search */
.search {
    background-color: #fff;
    padding: 5px;
}

.search input {
    width: 90%;
}

    /* list */
.list {
    background-color: #fff;
    max-height: fit-content;
    overflow-y: scroll;
}

.list .img_container {
    margin: 0 10px;
}

.contact {
    padding: 5px 0;
    display: flex;
    cursor: pointer;
}

.contact span {
    display: block;
    margin-bottom: -5px;
}

.contact small {
    font-size: x-small;
    color: #ccd;
}

.contact div:last-child {
    align-content: flex-end;
}

/* chat */
.chat_container {
    width: 70%;
    height: 100%;
}

    /* active contact */
.active_contact {
    background-color: #ccd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.active_contact .img_container {
    cursor: pointer;
}

.info small {
    display: block;
    font-size: x-small;
    color: #888;
}

.active_contact i {
    margin-right: 10px;
    color: #888;
    cursor: pointer;
}