<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <main>
        <div class="header"></div>

        <div id="container">

            <!-- sidebar -->
            <div class="side">

                <div class="account">
                    <div>
                        <div class="img_container">
                           <img src="img/avatar_me.png" alt="avatar"> 
                        </div>
                        <span>Paolo</span>
                    </div>

                    <div>
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="notifications">
                    <div>
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <small><a href="#">Attiva notifiche desktop</a></small>
                    </div>
                </div>

                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" name="search-chat" placeholder="Cerca o inizia una nuova chat" 
                    v-model="search"> 
                </div>

                <div class="list">
                    <div class="contact" v-for="(contact, index) in contacts.filter(contact=>contact.name.includes(search))" @click="select(index)">
                        <div>
                            <div class="img_container">
                                <img :src="contact.avatar" alt="avatar">
                            </div>
                            <div>
                                <span>{{contact.name}}</span>
                                <small>Ultimo messaggio inviato</small>
                            </div>
                        </div>
                        
                        <div>
                            <small>12:00</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chat -->
            <div class="chat_container">

                <div class="active_contact">
                    <div class="info">
                        <div class="img_container">
                            <img :src="contacts[activeContact].avatar" alt="avatar">
                        </div>
                        <div>
                            <span>{{contacts[activeContact].name}}</span>
                            <small>Ultimo accesso oggi alle 12:00</small>
                        </div>
                    </div>
                        
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="chat">
                    <div class="view_chat">
                        <div class="message" v-for="(item, index) in contacts[activeContact].messages"
                        :class="item.status">
                            <span>{{item.message}}</span>
                            <small>{{item.date}}</small>
                        </div>
                    </div>
                </div>

                <div class="to_write">
                    <div>
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div>
                        <input type="text" size="80" placeholder="Scrivi un messaggio" v-model="newMessage"
                        @keyup.enter="addMessage">
                    </div>

                    <div>
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>

        </div>
    </main>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>